<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="container aw-publish">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<!-- tab 切换 -->
					<ul class="nav nav-tabs aw-nav-tabs active">
						<?php if (check_extension_package('project') && get_setting('project_enabled') == 'Y' && $this->user_info['permission']['publish_project']) { ?>
						<li><a href="project/publish/"><?php _e('活动'); ?></a></li>
						<?php } ?>
						<?php if (check_extension_package('ticket') && get_setting('ticket_enabled') == 'Y' && $this->user_info['permission']['publish_ticket']) { ?>
						<li><a href="ticket/publish/"><?php _e('工单'); ?></a></li>
						<?php } ?>
						<?php if ($this->user_info['permission']['publish_article']) { ?>
						<li><a href="publish/suggest/"><?php _e('建议'); ?></a></li>
						<li><a href="publish/article/"><?php _e('文章'); ?></a></li>
						
						<?php } ?>
						<li class="active"><a href="publish/"><?php _e('问题'); ?></a></li>
						<h2 class="hidden-xs"><i class="icon icon-ask"></i> <?php _e('发起'); ?></h2>
					</ul>
					<!-- end tab 切换 -->
					<form action="publish/ajax/<?php if ($this->question_info['question_id']) { ?>modify<?php } else { ?>publish<?php } ?>_question/" method="post" id="question_form" onsubmit="return false;">
						<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
						<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />
						<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
						<input type="hidden" name="ask_user_id" value="<?php echo $_POST['ask_user_id']; ?>" />
						<?php if ($this->question_category_list) { ?>
						<select name="category_id" class="collapse" id="category_id">
							<option value="0">- <?php _e('请选择分类'); ?> -</option>
							<?php echo $this->question_category_list; ?>
						</select>
						<?php } ?>
						<div class="aw-mod aw-mod-publish">
							<div class="mod-body">
								<!-- 问题标题 -->
								<div class="aw-publish-title<?php if (!$this->question_category_list) { ?> active<?php } ?>">
									<?php if ($this->question_category_list) { ?>
									<div class="dropdown category">
										<div class="dropdown-toggle" data-toggle="dropdown">
											<span id="aw-topic-tags-select" class="aw-hide-txt"><?php _e('选择分类'); ?></span>
											<a href="javascript:;"><i class="icon icon-down"></i></a>
										</div>
									</div>
									<?php } ?>
								</div>
								<!-- end 问题标题 -->

								<h3><?php _e('问题详情：（请详细描述您的诉求和纠纷经过，以得到更精准的解答）'); ?></h3>
								<div class="aw-mod aw-editor-box">
									<div class="mod-head">
										<div class="wmd-panel">
								            <textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="question_detail"><?php echo $this->question_info['question_detail']; ?></textarea>
								        </div>
									</div>
									<div class="mod-body">
										<span class="pull-right text-color-999" id="question_detail_message">&nbsp;</span>
										<?php if (get_setting('upload_enable') == 'Y') { ?>
										<div class="aw-upload-box">
											<a class="btn btn-default">上传附件</a>
											<div class="upload-container"></div>
											<span class="text-color-999 aw-upload-tips hidden-xs"><?php _e('允许'); ?> : <?php echo get_setting('allowed_upload_types'); ?></span>
										</div>
										<?php } ?>
									</div>
								</div>
								<?php if (!$this->question_info['question_id']) { ?>
                                <!-- 地区选择 -->
                                <h3 class="are-tilel"><?php _e('选择地区'); ?>:</h3>
                        <span id="area_0" class="diqu"></span>
                        <span id="area_1" class="diqu"></span>
                        <span id="area_2" class="diqu"></span>
<script type="text/javascript" src="/static/js/leray_area.js"></script>
<script type="text/javascript">
    leray_load_area("<?php echo $this->iparea['s_areaid']; ?>",0,0,"provid,cityid,qxid",1);
    leray_load_area("<?php echo $this->iparea['c_areaid']; ?>","<?php echo $this->iparea['s_areaid']; ?>",1,"provid,cityid,qxid",1);
    leray_load_area("<?php echo $this->iparea['s_areaid']; ?>","<?php echo $this->iparea['c_areaid']; ?>",2,"provid,cityid,qxid",2)
</script>
								
								<span class="ar-hold">请准确选择事件发生地，更有利于准确解答。</span>
                                <!-- end 地区选择 -->
                                <!-- 联系方式 -->
								<h3 class="are-tilel"><?php _e('联系方式'); ?>:</h3>
								<span>
                                   <input type="text" name="question_mobile" class=" selectpicker2 form-control" value="" placeholder="请输入您的常用手机号" required="required" pattern="" title="">
								</span>
								<span class="ar-hold">律师解答后，将通过短信通知。</span>
                                <!-- end 联系方式 -->
								<?php if ($this->recent_topics) { ?>
								<?php } ?>
								<?php } ?>
								<?php if ($this->human_valid) { ?>
								<div class="aw-auth-img clearfix">
									<input class="form-control pull-right" type="text" name="seccode_verify" placeholder="验证码" />
									<em class="auth-img pull-right"><img src="" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" id="captcha"  /></em>
								</div>
								<?php } ?>
							</div>
							<div class="mod-footer clearfix">
								<?php if (get_setting('integral_system_enabled') == 'Y') { ?><a href="integral/rule/" target="_blank">[<?php _e('积分规则'); ?>]</a><?php } ?>
								<span class="aw-anonymity">
									<?php if ($this->question_info['question_id'] AND ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator'])) { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="do_delete" />
										<?php _e('删除问题'); ?></label>
									<?php } ?>
									<?php if (!$this->question_info['question_id'] AND get_setting('anonymous_enable') == 'Y') { ?>
									<label><input type="checkbox" class="pull-left" value="1" name="anonymous" />
										<?php _e('匿名'); ?></label>
									<?php } ?>

								</span>
								<a class="btn btn-large btn-success btn-publish-submit" id="publish_submit" onclick="AWS.ajax_post($('#question_form')); return false;"><?php _e('提交问题'); ?></a>
							</div>
						</div>
					</form>
				</div>
				<!-- 侧边栏 -->
				<div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
					<!-- 问题发起指南 -->
					<div class="aw-mod publish-help">
						<div class="mod-head">
							<h3><?php _e('问题发起指南'); ?></h3>
						</div>
						<div class="mod-body">
							<p><b>• <?php _e('问题详情'); ?>:</b> <?php _e('详细的叙述，会得到更详细的建议指导哦~我们建议您提交的问题围绕以下方面：'); ?></p>
							<p><?php _e('1、问题描述'); ?></p>
							<p><?php _e('2、目前的困惑'); ?></p>
							<p><?php _e('3、您希望得到的帮助'); ?></p>
							<p><b>• <?php _e('联系方式'); ?>:</b> <?php _e('填写的手机号仅作为本网登录账号，以及律师回复短信通知渠道使用，我们将严格保密，请放心填写。'); ?></p>
							<p><b>• <?php _e('律问网~'); ?></b><br/><b>• <?php _e('专注于解决您的法律问题'); ?></b></p>
							<?php if (get_setting('integral_system_enabled') == 'Y') { ?>
							<p><b>• <?php _e('关于积分'); ?>：</b> <?php _e('发起一个问题会消耗您 %s 个积分', -get_setting('integral_system_config_new_question')); ?>, <?php if (get_setting('integral_system_config_answer_change_source') == 'Y') { _e('每多一个回复你将获得 %s 个积分的奖励', -get_setting('integral_system_config_new_answer')); ?> ,<?php } _e('为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能'); ?>.</p>
							<?php } ?>
						</div>
					</div>
					<!-- end 问题发起指南 -->
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	var CATEGORY_ID = <?php echo $this->question_info['category_id']; ?>;
	var PUBLISH_TYPE = 'question';
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>