<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<?php echo $_GET['id'];?>
 <div class="are_chose">
                        <span id="area_0"></span>
                        <span id="area_1"></span>
                        <span id="area_2"></span>
                    </div>

<script src="http://img.9ask.cn/statics/www9ask2014/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="http://www.lvwen.com/static/js/leray_area.js"></script>
<script type="text/javascript">
    leray_load_area("<?php echo $this->iparea['s_areaid']; ?>",0,0,"provid,cityid,qxid",1);
    leray_load_area("<?php echo $this->iparea['c_areaid']; ?>","<?php echo $this->iparea['s_areaid']; ?>",1,"provid,cityid,qxid",1);
    leray_load_area("<?php echo $this->iparea['s_areaid']; ?>","<?php echo $this->iparea['c_areaid']; ?>",2,"provid,cityid,qxid",2)
</script>

</body>
</html>
