<?php TPL::output('m/header_meta.tpl.htm'); ?>
<!-- 内容 -->
<div class="container">
  <div class="aw-login-box">
    <div class="mod-head"> <img src="<?php echo G_STATIC_URL; ?>/mobile/img/login-logo.png" alt="" width="198" />
      <h1>输入新密码</h1>
    </div>
    <div class="mod-body">
      <input type="hidden" name="return_url" value="http://www.lvwen360.com/?/m/login/">
      <input type="hidden" value="1" name="net_auto_login">
      <ul>
        <li>
          <div class="input-group tel-num">
            <input type="tel" name="" class="form-control tel" value="" required="required" placeholder="新的密码" title="">
          </div>
          <div class="input-group tel-num">
            <input type="tel" name="" class="form-control tel" value="" required="required" placeholder="确认密码" title="">
            <p class="text-danger">*两次输入不一致，请重新输入</p>
          </div>
        </li>
        <li class="alert alert-danger collapse error_message"> <i class="icon icon-delete"></i> <em></em> </li>
        <li> <a class="btn btn-primary btn-block" onclick="AWS.ajax_post($('#login_form'));">确定</a> </li>
      </ul>
    </div>
  </div>
</div>
<!-- end 内容 -->
<?php TPL::output('m/footer.tpl.htm'); ?>
