<?php TPL::output('m/header_meta.tpl.htm'); ?>
<!-- 内容 -->
<div class="container">
  <div class="aw-login-box">
    <div class="mod-head"> <img src="<?php echo G_STATIC_URL; ?>/mobile/img/login-logo.png" alt="" width="198" />
      <h1>成功</h1>
    </div>
    <div class="mod-body">
      <input type="hidden" name="return_url" value="http://www.lvwen360.com/?/m/login/">
      <input type="hidden" value="1" name="net_auto_login">
      <p class="text-center">您的密码已修改成功，请点击</p>
      <p class="text-center"> <a href="">登录</a> </p>
      <p class="text-center">重新进入登录页面，继续您的旅程。</p>
      <br />
    </div>
  </div>
</div>
<!-- end 内容 -->
<?php TPL::output('m/footer.tpl.htm'); ?>
