<!-- 底部 -->
<footer class="text-center text-color-999">Copyright © <?php echo date('Y'); ?> - <?php echo get_setting('site_name'); ?>
<p>专注于解决您的法律问题</p>
</footer>
<!-- end 底部 -->

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box"></div>

<!-- nav -->
<!-- end nav -->

<div style="display:none">
	<?php echo get_setting('statistic_code'); ?>
</div>
<!-- / DO NOT REMOVE -->
<script type="text/javascript">
  window.bughd = window.bughd || function(){};
  bughd("create",{key:"d96d072cefc5ab3c6256af43ec8859bc"})
</script>
</body>
</html>
