<?php TPL::output('m/header.tpl.htm'); ?>

<!-- 标题 -->
<div class="aw-title">
	<?php _e('发起咨询问题'); ?>
</div>
<!-- end 标题 -->

<!-- 内容 -->
<div class="container active">
	<form action="publish/ajax/<?php if ($this->question_info['question_id']) { ?>modify<?php } else { ?>publish<?php } ?>_question/" method="post" id="question_form" onsubmit="return false;">
		<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
		<input type="hidden" name="question_id" id="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
		<input type="hidden" name="ask_user_id" value="<?php echo $_POST['ask_user_id']; ?>" />
		<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />

		<?php if ($this->weixin_media_id) { ?>
		<input type="hidden" name="weixin_media_id" value="<?php echo $this->weixin_media_id; ?>" />
		<input type="hidden" name="weixin_pic_url" value="<?php echo $this->weixin_pic_url; ?>" />
		<?php } ?>
		<div class="aw-publish-box">
			<!-- 问题补充 -->
			<div class="content">
			<p>内容：</p>
				<textarea name="question_detail" class="form-control autosize" placeholder="<?php _e('请在这里开始描述您所遇到的问题详情！'); ?>" id="publish_detail" cols="30" rows="4"><?php echo $this->question_info['question_detail']; ?></textarea>
			</div>
			<p class="text-waring world-length">✖内容输入字数过少，请继续输入。
            </p>
			<!-- end 问题补充 -->
            <!-- 地区 -->
			<p class="are-tilel">地区：</p>
			<select class="selectpicker form-control">
                    <option>山东</option>
                    <option>河北</option>
                    <option>北京</option>
                </select>
                <select class="selectpicker form-control">
                    <option>济南</option>
                    <option>青岛</option>
                    <option>北京</option>
                </select>
                <select class="selectpicker form-control">
                    <option>历下区</option>
                    <option>高新区</option>
                    <option>历城区</option>
                </select>
            <div>
			    <span class="ar-hold">请准确选择事件发生地，更有利于准确解答</span>
            </div>
			<br>
			<!-- end 地区 -->
			<!-- 手机 -->
			<p class="are-tilel">手机：</p>
                 <span>
			     <input type="text" name="question_mobile" class=" selectpicker2 form-control" value="" placeholder="请输入您的常用手机号" required="required" pattern="" title="">
			    </span>
                <span class="numb-err text-waring">✔输入正确</span>
                <br>
                <div class="tips">提示：该手机号仅作为网站登录，以及律师解答与短信通知使用，我们将严格保密，请准确填写。
                </div>
			<!-- end 手机 -->
			<!-- 分类 -->
			<?php if ($this->question_category_list) { ?>
			<div class="category clearfix">
				<select name="category_id" id="category_id">
					<option value="0">- <?php _e('请选择分类'); ?> -</option>
					<?php echo $this->question_category_list; ?>
				</select>
				<i class="icon icon-down"></i>
			</div>
			<?php } ?>
			<!-- end 分类 -->

			<?php if ($this->human_valid) { ?>
			<div class="aw-auth-img clearfix">
				<input class="form-control pull-left" type="text" name="seccode_verify" placeholder="验证码" />
				<em class="auth-img pull-left"><img src="" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" id="captcha"  /></em>
			</div>
			<?php } ?>

			<div class="command">
				<?php if (get_setting('anonymous_enable') == 'Y') { ?>
				<label class="pull-left"><input type="checkbox"  value="1" name="anonymous" /> <?php _e('匿名'); ?></label>
				<?php } ?>
				<?php if ($this->question_info['question_id'] AND ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator'])) { ?>
				<!-- <label class="pull-left"><input type="checkbox"  value="1" name="do_delete" /> <?php _e('删除问题'); ?></label> -->
				<?php } ?>
                <a class="btn btn-success btn-slarge" onclick="AWS.ajax_post($('#question_form')); return false;"><?php _e('测试发布'); ?></a>
                <br/><br/><br/><br/>
				<a class="btn btn-success btn-slarge" data-toggle="modal" data-target="#myModal"><?php _e('提交问题'); ?></a>
			</div>

		</div>
	</form>

</div>
<!-- end 内容 -->

<script type="text/javascript">
	var CATEGORY_ID = <?php echo $this->question_info['category_id']; ?>;
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	var PUBLISH_TYPE = 'question';

	$(document).ready(function () {

		$('.aw-add-topic-box').click();

		// 判断是否微信打开
		if (typeof window.WeixinJSBridge != 'undefined')
		{
			$('header, nav, footer').hide();
		}

		if (ATTACH_ACCESS_KEY != '')
		{
			var fileupload = new FileUpload('file' ,'.aw-upload-box .icon-pic', '.aw-upload-box .upload-container', G_BASE_URL + '/publish/ajax/attach_upload/id-question__attach_access_key' + '-' + ATTACH_ACCESS_KEY, {'insertTextarea' : '#publish_detail', 'deleteBtnTemplate' : '<a class="delete-file"><i class="icon icon-delete"></i></a>', 'insertBtnTemplate' : '<a class="insert-file"><i class="icon icon-insert"></i></a>', 'editor': $('#publish_detail')});
		}

		if ($('#category_id').length)
		{
			var category_data = '';

			$.each($('#category_id option').toArray(), function (i, field) {
				if (i > 0)
				{
					if (i > 1)
					{
						category_data += ',';
					}

					category_data += "{'title':'" + $(field).text() + "', 'id':'" + $(field).val() + "'}";
				}
			});

			//AWS.Dropdown.add_dropdown_list('.aw-publish-dropdown', eval('[' + category_data + ']'), CATEGORY_ID);

			$('.aw-publish-dropdown .dropdown-menu li a').click(function() {
				$('#category_id').val($(this).attr('data-value'));
			});
		}

		if ($('.aw-publish-dropdown').length)
		{
			$.each($('.aw-publish-dropdown .dropdown-menu li a'),function(i, e)
			{
				if ($(e).attr('data-value') == $('#category_id').val())
				{
					$('.aw-publish-dropdown span').html($(e).html());

					return;
				}
			});
		}

		if ($('#quick_publish_topic_chooser').length)
		{
			$('#quick_publish_topic_chooser').click();
		}

		if ($('#question_id').length)
		{
			ITEM_ID = $('#question_id').val();
		}
		else if ($('#article_id').length)
		{
			ITEM_ID = $('#article_id').val();
		}

		// 微信图片发起
		if ($('input[name="weixin_pic_url"]').val() != undefined)
		{
			$('.upload-list').append(
				'<li>'+
					'<div class="img" style="background-image: url(' + $('input[name="weixin_pic_url"]').val() + ');"></div>'+
					'<div class="content">'+
						'<p class="meta">'+
							'<span class="color-999">图片已插入</span>'+
							'<a class="insert-file disabled"><i class="icon icon-insert"></i></a>'+
						'</p>'+
					'</div>'+
				'</li>');
		}

		if (ITEM_ID && G_UPLOAD_ENABLE == 'Y' && ATTACH_ACCESS_KEY != '')
		{
			if ($(".aw-upload-box .upload-list").length) {
				$.post(G_BASE_URL + '/publish/ajax/' + PUBLISH_TYPE + '_attach_edit_list/', PUBLISH_TYPE + '_id=' + ITEM_ID, function (data) {
					if (data['err']) {
						return false;
					} else {
						$.each(data['rsm']['attachs'], function (i, v) {
						   fileupload.setFileList(v);
						});
					}
				}, 'json');
			}
		}

	});
</script>
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content toast_div">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <h4 class="modal-title text-center" id="myModalLabel">
			输入验证码，提交您的问题需求</h4>
		</div>
		<div class="modal-body">
		     
			 <div class="input-group tel-num">
				 
				 <input type="tel" name=""  class="form-control tel" value="" required="required" placeholder="" title="">
				 <input type="button" id="btn" class="send-ma" value="免费获取验证码" onclick="sendemail()" /> 
				 <div class="ver-hr"></div>	
				 
			 </div>
			 <div class="input-group tel-num">
				 
				<input type="tel" name=""  class="form-control tel" value="" required="required" placeholder="请输入您收到的验证码" title="">		
			</div>
			<a class="btn btn-large btn-success btn-publish-submit text-center md-submit" id="publish_submit" onclick="showtoastFromDivbottom()" >提交问题</a>
			 
		</div>
		
	  </div>
	</div>
  </div>
  <script src="<?php echo G_STATIC_URL; ?>/mobile/js/toast.js"></script>
  <script type="text/javascript"> 
  var countdown=60; 
  function sendemail(){
	  var obj = $("#btn");
	  settime(obj);
	  
	  }
  function settime(obj) { //发送验证码倒计时
	  if (countdown == 0) { 
		  obj.attr('disabled',false); 
		  //obj.removeattr("disabled"); 
		  obj.val("免费获取验证码");
		  countdown = 60; 
		  return;
	  } else { 
		  obj.attr('disabled',true);
		  obj.val("重新发送(" + countdown + ")");
		  countdown--; 
	  } 
  setTimeout(function() { 
	  settime(obj) }
	  ,1000) 
  }
  </script>
</body>
<script>
    $(document).ready(function(){
        var lenInput = $('.form-control').val().length;
        $(".form-control").keyup(function(){
            lenInput = $(this).val().length;
            if(lenInput>20){
                $('.world-length').hide();
            
            }else{
                $('.world-length').show();
            }
        });
    });
    function showtoastFromDivbottom(){
		$('.toast_div').toast({
			content:'验证码错误，请重新输入',
			duration:2000,
	
		});
		
	}
</script>
<?php TPL::output('m/footer1.tpl.htm'); ?>
